### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# Identiy file path
file_path = os.path.join('Resources','purchase_data.csv')

# Read file into a pandas data frame
purchase_df = pd.read_csv(file_path)

## Player Count

* Display the total number of players

In [2]:
player_ct = purchase_df['SN'].nunique()
player_ct_df = pd.DataFrame({"Total Players": [player_ct]})
player_ct_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
summary_df = pd.DataFrame( {'Number of Unique Items': [purchase_df['Item ID'].nunique()]
                          ,'Average Price': ['${0:,.2f}'.format(purchase_df['Price'].mean())]
                          ,'Number of Purchases': [purchase_df['Purchase ID'].nunique()]
                          ,'Total Revenue': ['${0:,.2f}'.format(purchase_df['Price'].sum())]
                          })

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# ----------------- Option 1 --------------------------------
# Group by Gender and count unique SN
# male_ct = purchase_df.loc[purchase_df['Gender']=='Male']['SN'].nunique()
# female_ct = purchase_df.loc[purchase_df['Gender']=='Female']['SN'].nunique()
# other_ct = purchase_df.loc[purchase_df['Gender']=='Other / Non-Disclosed']['SN'].nunique()

# gender_df = pd.DataFrame({'Gender':['Male','Female','Other / Non-Disclosed']
#                          ,'Total Count':[male_ct,female_ct,other_ct]
#                          })

# gender_df = gender_df.set_index('Gender')

# ----------------- Option 2 --------------------------------
gender_demo_df = purchase_df.groupby('Gender').nunique()
gender_demo_df = gender_demo_df[['SN']]

# Rename SN column to Total Count
gender_demo_df = gender_demo_df.rename(columns={'SN':'Total Count'})

# Calculate Percentage of Players
gender_demo_df['Percentage of Players'] = (gender_demo_df['Total Count'] / player_ct) * 100

# Format Percentage of Players
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].astype('float').map('{:.4}%'.format)

gender_demo_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Find Purchase Count
purchase_ct_df = purchase_df.groupby('Gender').nunique()
purchase_ct_df = purchase_ct_df[['Purchase ID']]
purchase_ct_df = purchase_ct_df.rename(columns={'Purchase ID':'Purchase Count'})
purchase_ct_df

# Find Average Purchase Price
purchase_mean_df = purchase_df.groupby('Gender').mean()
purchase_mean_df = purchase_mean_df[['Price']]
purchase_mean_df = purchase_mean_df.rename(columns={'Price':'Average Purchase Price'})

# Find Total Purchase Value
purchase_sum_df = purchase_df.groupby('Gender').sum()
purchase_sum_df = purchase_sum_df[['Price']]
purchase_sum_df = purchase_sum_df.rename(columns={'Price':'Total Purchase Value'})

# Merge into a single dataframe
purchase_gender_df = pd.merge(purchase_ct_df, purchase_mean_df, on='Gender')
purchase_gender_df = pd.merge(purchase_gender_df, purchase_sum_df, on='Gender')

# Merge Gender Demographic data for calculating Avg Total Purchase per Person
purchase_gender_df = pd.merge(purchase_gender_df, gender_demo_df, on='Gender')


# Calculate Avg Total Purchase per Person
purchase_gender_df['Avg Total Purchase per Person'] = (purchase_gender_df['Total Purchase Value'] / purchase_gender_df['Total Count'])

# Remove Gender Demographic data
purchase_gender_df = purchase_gender_df[['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']]

# Format columns
purchase_gender_df['Average Purchase Price'] = purchase_gender_df['Average Purchase Price'].astype('float').map('${0:,.2f}'.format)
purchase_gender_df['Total Purchase Value'] = purchase_gender_df['Total Purchase Value'].astype('float').map('${0:,.2f}'.format)
purchase_gender_df['Avg Total Purchase per Person'] = purchase_gender_df['Avg Total Purchase per Person'].astype('float').map('${0:,.2f}'.format)

purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Idenitfy bin values and labels
bin_value = [0,9,14,19,24,29,34,39,50]
bin_label = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Create new df 
age_df = purchase_df
# age_df['Age Bin'] = pd.cut(purchase_df['Age'], bin_value, labels=bin_label)

# Group by Age Bin and count unique SN
# age_df.goupby('Age Bin').nunique()

age_df

# pd.cut(df["Test Score"], bins, labels=group_names, include_lowest=True)
# 
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame